<div class="d-flex align-items-center">
    <div class="ml-auto posts_button">
      <%= link_to '投稿', new_post_path, class: 'btn btn-outline-info' %>
    </div>
</div>
<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 150px">投稿タイトル</th>
      <th scope="col">いいね</th>
      <th scope="col">投稿者</th>
      <th scope="col">投稿日</th>
      <th scope="col">更新日時</th>
    </tr>
  </thead>
  <tbody>
      <% @like_posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td id="post_<%= post.id %>"><%= render 'posts/post', post: post %><td>
          <td><%= post.user.name %></td>
          <td><%= l post.created_at %></td>
          <td><%= l post.updated_at %></td>
          <td><%= link_to '詳細', post, id: "detail-" + post.id.to_s, class: 'btn btn-outline-info' %></td>
          <td><%= link_to "削除" , post, class: 'btn btn-outline-info', method: :delete %></td>
        </tr>

      <% end %>
  </tbody>
</table>
