<% provide(:title, "いいね一覧") %>
<div class="container">
  <h4 class="title">いいね一覧</h4>
  <!--検索-->
  <div class="container">
    <%= sort_link(@q, :created_at, '新着順', default_order: :asc) %>
    <%= sort_link(@q, :likes_count, 'いいね順', default_order: :desc) %>
  </div>
  <!--投稿一覧-->
  <div class="container">
    <div class="row">
      <% @like_posts.each do |post| %>
        <div class="col-md-6 col-xl-4 col-12 my-3 card-box-overlapping">
          <div class="card h-100">
            <%= link_to post do %>
              <p class="image">
                <% if post.image.attached? %>
                  <%= image_tag post.image.variant(resize_to_limit: [800, 400]).processed,class:"post_image_index" %>
                <% else %>
                  <%= image_tag "title.png",class:"post_image_index" %>
                <% end %>
              </p>
              <h5 class="card-title" id="heading-title"><%= post.title %></h5>
            <% end %>
            <div class="card-body">
              <ul class="posts-tags">
                <% post.tags.each do |tag| %>
                  <li class="button">
                    <%= link_to "#{tag.name}", posts_path(tag_id: tag.id) ,class: "btn btn-gradient" %>
                  </li>
                <% end %>
              </ul>
              <div>
                <%= link_to post.user do %>
                  <% if post.user.avatar.attached? %>
                    <%= image_tag post.user.avatar.variant(resize_to_limit: [400, 400]).processed, class: "icon_mini"%>
                  <% else %>
                    <%= image_tag "default_user.png", class: "icon_mini" %>
                  <% end %>
                  <%= post.user.name %>
                <% end %>
              </div>
              <p class="heart" id="post_<%= post.id %>">
                <%= render 'posts/post', post: post %>
              </p>
              <p class="card-content comment"><%= "コメント #{post.comments.count}件" %>
              <p class="content-muted"><small class="content-muted"><%= l post.created_at %></small></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate @like_posts %>
</div>
