<%= form_for(current_user, url: relationships_path, method: :post, remote: true) do |f| %>
  <%= hidden_field_tag :following_id, @user.id %>
  <%= f.submit "フォローする", id: "button-fill", class: "button-follow" %>
<% end %>
<div id="button-fill">
  <%= link_to followers_user_path(@user.id) do %>
    <p class="follower">フォロワー<%= @user.followers.count %></p>
  <% end %>
</div>
<div id="button-fill">
  <%= link_to following_user_path(@user.id) do %>
    <p class="follower">フォロー<%= @user.following.count %></p>
  <% end %>
</div>