<%= form_with model:post, local: true do |f| %>
  <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
            <div class="text-center text-md-center mb-4 mt-md-0">
              <h1 class="mb-5 h3">投稿</h1>
            </div>
            <form action="#">
              <div class="form-group mb-3">
                <%= f.label :title, '投稿タイトル' %>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon3"><span class="fas fa-pen"></span></span>
                  <%= f.text_field :title, autofocus: true, class: 'form-control',placeholder: "タイトルを入力してください。", :required => true %>
                </div>
              </div>
              <div class="form-group mb-3">
                <%= f.label :body, '投稿内容' %>
                <div>
                  <%= f.rich_text_area :body,value: @post.body, autofocus: true, class: 'form-control',placeholder: "投稿内容を入力してください。" , :required => true %>
                </div>
              </div>
              <div class="form-group mb-3">
                <%= f.label :name,"タグ" %>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon3"><span class="fas fa-tags"></span></span>
                  <%= f.text_field :name,value: @tag_list, autofocus: true, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group mb-3">
                <%= f.label :images, '画像' %>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon3"><span class="fas fa-images"></span></span>
                  <%= f.file_field :images, multiple: true, autofocus: true, class: 'form-control',placeholder: "画像を添付" %>
                </div>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary mt-4 ">投稿する</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>