<p>タグで探す</p>
<ul>
  <%= link_to '全投稿', posts_path %>
  <% @tag_lists.each  do |list| %>
    <% if list.posts.present? %>
      <%= link_to "##{list.name}", posts_path(tag_id: list.id) %>
      <span><%= "(#{list.posts.count})" %></span>
    <% end %>
  <% end %>
</ul>

<%= search_form_for @q do |f| %>
  <%= f.label :title_or_body_or_tags_name_or_user_name, "キーワード検索" %>
  <%= f.search_field :title_or_body_or_tags_name_or_user_name_cont, placeholder: '検索ワード' %>
  <%= f.submit "検索" %>
<% end %>

<div class="container" id="works">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-6 col-xl-4 col-12 my-2">
        <div class="card">


            <% if post.images.attached? %>
              <%= image_tag post.images.first.variant(resize_to_limit: [100, 200]).processed,class:"post_image_index" %>
            <% else %>
              <%= image_tag "title.png",class:"post_image_index" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>

              <td>
                <% post.tags.each do |tag| %>
                  <%= link_to "#{tag.name}", posts_path(tag_id: tag.id) %>
                <% end %>
              </td>
              <div><%= link_to "#{post.user.name}" , user_path(post.user.id) %></div>
              <p id="post_<%= post.id %>">
                <%= render 'post', post: post %>
              </p>
              <p class="card-content"><%= "コメント#{post.comments.count}件" %></p>
              <p class="card-content"><small class="content-muted"><%= l post.created_at %></small></p>
            </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @posts %>