<div class="container">
  <!--タグ-->
  <div class="container ">
    <ul class="posts-tags">
      <%= link_to '全投稿', posts_path,class: "btn btn-gradient all-posts" %>
      <% @tag_lists.each  do |list| %>
        <% if list.posts.present? %>
          <li class="button">
          <%= link_to "##{list.name}  (#{list.posts.count})", posts_path(tag_id: list.id),class: "btn btn-gradient" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <!--検索-->
	<div class="container">
		<div class="search_container">
			<%= search_form_for @q do |f| %>
				<%= f.search_field :title_or_body_or_tags_name_or_user_name_cont,placeholder: "キーワード", :required => true %>
				<%= f.submit "検索" %>
			<% end %>
		</div>
	</div>

  <!--投稿一覧-->
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-6 col-xl-4 col-12 my-3 card-box-overlapping">
          <div class="card h-100">
            <%= link_to post do %>
              <p class="image">
                <% if post.images.attached? %>
                  <%= image_tag post.images.first.variant(resize_to_limit: [70, 150]).processed,class:"post_image_index" %>
                <% else %>
                  <%= image_tag "title.png",class:"post_image_index" %>
                <% end %>
              </p>
              <h5 class="card-title" id="heading-title"><%= post.title %></h5>
              <p class="card-content comment"><%= "コメント #{post.comments.count}件" %></p>
            <% end %>
            <div class="card-body">
              <ul class="posts-tags">
                  <% post.tags.each do |tag| %>
                    <li class="button">
                      <%= link_to "#{tag.name}", posts_path(tag_id: tag.id) ,class: "btn btn-gradient" %>
                    </li>
                  <% end %>
              </ul>
              <div>
              <%= link_to post.user do %>
                <% if post.user.avatar.attached? %>
                  <%= image_tag post.user.avatar.variant(resize_to_limit: [40, 40]).processed, class: "icon_mini"%>
                <% else %>
                  <%= image_tag "default_user.png", class: "icon_mini" %>
                <% end %>
                <%= post.user.name %>
              <% end %>
              </div>
              <p class="heart" id="post_<%= post.id %>">
                <%= render 'post', post: post %>
              </p>
              <p class="content-muted"><small class="content-muted"><%= l post.created_at %></small></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate @posts %>
</div>