<%= render partial: 'layouts/flash' %>

<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto posts_button">
    <%= link_to '投稿一覧', posts_path, class: "btn btn-outline-info" %>
    <%= link_to '編集', edit_post_path(@post), class: "btn btn-outline-info" %>
    <%= link_to "削除" , @posts, class: 'btn btn-outline-info', method: :delete %>
  </div>
</div>

<div class="card">
  <div class="card-header bg-info text-white">
    <h4><%= @post.title %></h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= simple_format(@post.body) %></p>
  </div>
  <div class="card-footer">
    <p class="text-right font-weight-bold mr-10"><%= @post.title %></p>
  </div>
</div>

<%= form_with model: [@post, @comment], local: true do |f| %>
  <%= f.text_area :content, size: "40x5" %>
  <%= f.submit '送信', class: "btn-sm btn-primary" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>コメント投稿者</th>
      <th>コメント内容</th>
    </tr>
  </thead>
  <tbody>
    <% @post.comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <%# <td><%= link_to "削除", post_comment_path(@post, comment), method: :delete %></td> %>
      </tr>
    <% end %>
  </tbody>
</table>

<%# <div class="p-comment_list">
  <div class="p-comment_listTitle">コメント</div>
  <%= render @post.comments %>
<%# </div> %> %>

<%# <%= render partial: 'comments/form', locals: { comment: @comments } %> %>