<header  id="a-write">
  <% if user_signed_in? %>
    <nav class="navbar navbar-light">
      <div class="navbar-brand flex-fill" >
        <%= link_to  root_path do %>
          <%= image_tag "title.png", :size => "130x50"  %>
        <% end %>
      </div>
      <div class="flex-fill user-name-header"><%= current_user.name %>さん</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar  flex-fill d-flex justify-content-end">
          <li class="nav-link" ><a href="<%= new_post_path %>">
            <i class="fas fa-pen"></i> 投稿</a>
          </li>
          <li class="nav-link" ><a href="<%= posts_path %>">
            <i class="far fa-newspaper"></i> 記事一覧</a>
          </li>
          <li class="nav-link"><a href="<%= likes_index_path %>">
            <i class="fas fa-heart header-icons"></i> いいね一覧</a>
          </li>
          <li class="nav-link"><a href="<%= notifications_path %>">
            <i class="fas fa-bell"></i> 通知
            <% if unchecked_notifications.any? %>
              <span class="badge rounded-pill bg-warning text-dark"> 新着</span>
            <% end %>
          </li>
          <li class="nav-link" ><a href="<%= user_path(id: current_user.id) %>">
            <i class="far fa-address-card"></i> プロフィール</a>
          </li>
          <li class="nav-link" ><a href="<%= sign_out_path %>">
            <i class="fas fa-sign-out-alt"></i> ログアウト</a>
          </li>
        </div>
      </div>
    </nav>
  <% end %>
</header>
