<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <nav>
      <%= link_to 'TOP', root_path %>
      <div class="d-flex align-items-center">
        <div class="ml-auto posts_button">
          <% if user_signed_in? %>
            <%= current_user.name %>さん
            <%= link_to '投稿', new_post_path, class: 'btn btn-outline-info' %>
            <%= link_to '投稿一覧', posts_path %>
            <%= link_to 'いいねした投稿一覧', likes_index_path %>
            <%= link_to   notifications_path do %>
              <%= render "shared/circle" %>
            <% end %>

            <%= link_to 'プロフィール', user_path(id: current_user.id) %>
            <%= link_to 'プロフィール変更', edit_user_registration_path %>
            <%= link_to "ログアウト", sign_out_path %>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
  <%= render partial: 'layouts/flash' %>

  <%= yield %>
  <script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
  </body>
</html>
