<h2>プロフィール編集</h2>

<%= form_with model: resource, scope: resource_name, url:registration_path(resource_name), id: 'new_user', class: 'new_user', local: true, method: :put do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(パスワードを変更しない場合は、未記入)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>最低限文字数:<%= @minimum_password_length %>文字</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>



  <div class="field">
    <%= f.label :introduction, "自己紹介文" %><br />
    <%= f.text_area :introduction, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :avatar, "プロフィール画像" %><br />
    <%= f.file_field :avatar, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>アカウントを削除</h3>

<p> <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>
